[Desktop Entry]
Name=Camellia
NoDisplay=true
MimeType=x-scheme-handler/camellia;
TryExec=camellia
Exec=camellia %u
Icon=camellia
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=camellia
