[Desktop Entry]
Name=Camellia
NoDisplay=true
MimeType=x-scheme-handler/camellia;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
