name: Flutter Tag Build

on:
  workflow_dispatch:
    inputs:
      manual_tag:
        description: 'Tags (v1.2.3 or 1.2.3)'
        required: true
        type: string
      version:
        description: 'Version (1.2.3)'
        required: true
        type: string
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-[0-9]+'

jobs:
  run-flutter-tag-build:
    uses: ./.github/workflows/flutter-build.yml
    secrets: inherit
    with:
      upload-artifact: true
      upload-tag: ${{ github.event_name == 'push' && github.ref_name || inputs.manual_tag }}
      version: ${{ github.event_name == 'push' && github.ref_name || inputs.version }}
